@tailwind base;
@tailwind components;
@tailwind utilities;

.bgVideo {
  background: url(../video/bg.mp4);
}
button.relative.align-middle.select-none.font-sans.font-medium.text-center.uppercase.transition-all.disabled\:opacity-50.disabled\:shadow-none.disabled\:pointer-events-none.w-12.max-w-\[48px\].h-12.max-h-\[48px\].text-sm.bg-gradient-to-tr.from-blue-600.to-blue-400.text-white.shadow-md.shadow-blue-500\/20.hover\:shadow-lg.hover\:shadow-blue-500\/40.active\:opacity-\[0\.85\].pointer-events-none.mb-6.rounded-full {
  border-radius: 9999px;
  background: linear-gradient(45deg, #1e88e5 0%, #9142f5 100%);
  box-shadow: 0px 2px 4px -2px rgba(33, 150, 243, 0.2),
    0px 4px 6px -1px rgba(33, 150, 243, 0.2);
}
button.relative.align-middle.select-none.font-sans.font-medium.text-center.uppercase.transition-all.disabled\:opacity-50.disabled\:shadow-none.disabled\:pointer-events-none.w-12.max-w-\[48px\].h-12.max-h-\[48px\].text-sm.bg-gradient-to-tr.from-red-600.to-red-400.text-white.shadow-md.shadow-red-500\/20.hover\:shadow-lg.hover\:shadow-red-500\/40.active\:opacity-\[0\.85\].pointer-events-none.mb-6.rounded-full {
  border-radius: 9999px;
  background: linear-gradient(45deg, #b735e5 0%, #2d32aa 100%);
  box-shadow: 0px 2px 4px -2px rgba(244, 67, 54, 0.2),
    0px 4px 6px -1px rgba(244, 67, 54, 0.2);
}
button.relative.align-middle.select-none.font-sans.font-medium.text-center.uppercase.transition-all.disabled\:opacity-50.disabled\:shadow-none.disabled\:pointer-events-none.w-12.max-w-\[48px\].h-12.max-h-\[48px\].text-sm.bg-gradient-to-tr.from-teal-600.to-teal-400.text-white.shadow-md.shadow-teal-500\/20.hover\:shadow-lg.hover\:shadow-teal-500\/40.active\:opacity-\[0\.85\].pointer-events-none.mb-6.rounded-full {
    border-radius: 9999px;
background: linear-gradient(45deg, #00897B 0%, #3026A6 100%);
box-shadow: 0px 2px 4px -2px rgba(0, 150, 136, 0.20), 0px 4px 6px -1px rgba(0, 150, 136, 0.20);
}

h3.block.antialiased.tracking-normal.font-sans.text-3xl.leading-snug.text-blue-gray-900.mb-3.font-bold {
    color: #7155F0;
}
.text-blue-gray-900 {
    --tw-text-opacity: 1;
    color: #7155F0;
}
center.uppercase.transition-all.disabled\:opacity-50.disabled\:shadow-none.disabled\:pointer-events-none.text-sm.py-3\.5.px-7.rounded-lg.bg-gradient-to-tr.from-blue-600.to-blue-400.text-white.shadow-md.shadow-blue-500\/20.hover\:shadow-lg.hover\:shadow-blue-500\/40.active\:opacity-\[0\.85\].mt-8 {
    border-radius: 8px;
    background: linear-gradient(45deg, #B735E5 0%, #2D32AA 100%);
    box-shadow: 0px 2px 4px -2px rgba(244, 67, 54, 0.20), 0px 4px 6px -1px rgba(244, 67, 54, 0.20);
}